<header class="sticky">
  <h1>{{title}}</h1>
  <a routerLink="personas-crear"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>TAREA:Crear / Editar personas</span>
  </a>
  
  <a routerLink="componente-apoyo"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>Apoyo</span>
  </a>
  <a routerLink="componente-gestion"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>Gestion personas</span>
  </a>
  <a routerLink="componente-creacion"
  routerLinkActive="router-link-active"
  class="button">
  <p>
 <span>Creacion/edicion personas</span>
</a>

</header>