<form>
        
      <div><section>
                <label for="name">Numero id</label>
                <input name="name" type="text" [(ngModel)]="persona.numeroIdentificacion" placeholder="Documento de id" />
              </section></div>  

              <section><label for="name">Tipo id</label>
                <select name="Selector de tipos"  [(ngModel)]="tipoDoc" >
    
                  <option *ngFor="let valor of tipoId">{{valor}} </option>
              
              </select></section>

              <section>
                    <label for="name">Nombre</label>
                    <input name="name" type="text" [(ngModel)]="persona.nombre" placeholder="Nombre persona" />
                  </section>

                  <section>
                        <label for="name">Apellido</label>
                        <input name="name" type="text" [(ngModel)]="persona.apellido" placeholder="apellido persona" />
                      </section>
                      <section>
                            <label for="name">ciudad</label>
                            <input name="name" type="text" [(ngModel)]="persona.ciudad" placeholder="Nombre persona" />
                          </section>
                          <section>
                                <label for="name">telefono</label>
                                <input name="name" type="text" [(ngModel)]="persona.numeroTel" placeholder="telefono persona" />
                              </section>

                  <section>
                        <label for="isMayor">Es mayor edad</label>
                        <input name="isVIP" type="checkbox" [(ngModel)]="persona.mayorEdad" />
                      </section>

                                <section>
                <label for="roles">Roles</label>
                <input name="rol" value="Comprador" type="radio" [(ngModel)]="persona.roles" />
                <i>Comprador</i>
                <input name="rol" value="vendedor" type="radio" [(ngModel)]="persona.roles" />
                <i>Vendedor</i>
                </section>
              
       
        
      </form>
      
